/* page1 */

.page {
    position: relative;
}

.main-title {
    text-align: center;
    font-size: 80px;
    font-weight: 500;
    margin-top: 100px;
}

.page1 {
    position: relative;
}

.page1 a {
    position: absolute;
    font-size: 40px;
    cursor: pointer;
}

.page1 a:nth-child(2) {
    top: 280px;
    left: 25%;
}


/* .page1 a:nth-child(2):after {
    content: 'zt345564023@gmail.com';
    display: none;
}
 */

.page1 a:nth-child(3) {
    top: 280px;
    left: 40%;
}

.page1 a:nth-child(4) {
    top: 280px;
    left: 55%;
}

.page1 a:nth-child(5) {
    top: 280px;
    left: 70%;
}


/* page2 */

.page2 h2,
.page3 h2 {
    text-align: center;
    font-size: 50px;
    margin: 50px 0;
}

.page2 strong,
.page3 strong {
    font-size: 40px;
}

.page2 p,
.page3 p {
    margin: 20px 0;
    padding: 0 40px;
}

.page3 span {
    font-size: 20px;
}

.page5 strong {
    font-size: 60px;
}

.page6 p b {
    margin-left: -100px;
}

.page9 p {
    font-size: 40px;
}

.page10 q {
    font-size: 40px;
}

.page11 b {
    font-size: 70px;
}

.page11 span {
    font-size: 30px;
}

.page12 p {
    font-size: 60px;
}

.page12 i {
    font-size: 40px;
}

i {
    text-decoration: none;
    font-style: normal;
}


/* .icon-size {
    position: absolute;
}
 */

.email:hover {
    transform: scale(1.2);
    color: #F9E910;
}

.github:hover {
    transform: scale(1.2);
    color: #000;
}

.wechat:hover {
    transform: scale(1.2);
    color: #00FE15;
}

.qq:hover {
    transform: scale(1.2);
    color: #185DFC;
}

.icon-size {
    transition: all .25s;
}

.icon-size:hover .show {
    display: block;
}

.show {
    position: absolute;
    box-sizing: border-box;
    display: block;
    left: -80px;
    top: 60px;
    margin-left: 5px;
    width: 200px;
    height: 36px;
    background-color: #666;
    border-radius: 5px;
    line-height: 36px;
    font-size: 20px;
    display: none;
    /* box-shadow: 0px 0px 2px rgba(50, 50, 50, .5); */
    z-index: 10;
    color: #fff;
    /* padding: 0px 20px; */
    font-family: "microsoft yahei";
    text-align: center;
}

.show:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -6px;
    top: -3px;
    width: 6px;
    height: 6px;
    transform: rotateZ(45deg);
    z-index: -1;
    border-top-left-radius: 1px;
    background-color: #666;
}
 
